@{
    ViewData["Title"] = "Home Page";
}
@using crudelicious.Models
@model List<Dish>
<style>
    .jumbotron{
            background-image: url("img/lem.png");
            background-size: cover;
            text-align: center;
        }
    .card{
        display: inline-block;
    }
    h6{
        font-size: 13px;
    }
    h3{
        margin: 20px;
    }

</style>

<div class="jumbotron">
    <h1 class="display-4 text-info">crudelicious.</h1>
</div>
    <h3 class="text-secondary">Check out our most popular dishes:</h3>
<a href="/9">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/cocoshrimp.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Coconut Shrimp with Tropical Rice</p>
        <h6 class="card-text text-secondary">250 calories</h6>
    </div>
</div>
</a>
<a href="/8">
<div class="card" style="width: 17.1rem;">
  <img class="card-img-top" src="img/sgetti.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text text-info">Classic Italian Spaghetti & Meatballs</p>
    <h6 class="card-text text-secondary">450 calories</h6>
  </div>
</div>
</a>
<a href="/2">
<div class="card" style="width: 17.1rem;">
  <img class="card-img-top" src="img/marg.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text text-info">Margherita Pizza with Fresh Mozzarella and Basil</p>
    <h6 class="card-text text-secondary">200 calories</h6>
  </div>
</div>
</a>
<a href="/10">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/foody2.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Roasted Garlic & Herb Shrimp with Spaghetti</p>
        <h6 class="card-text text-secondary">360 calories</h6>
    </div>
</div>
</a>
<a href="/3">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/swiss.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Swiss Mushroom Burger</p>
        <h6 class="card-text text-secondary">400 calories</h6>
    </div>
</div>
</a>
<a href="/7">
<div class="card" style="width: 17.1rem;">
  <img class="card-img-top" src="img/enchiladas.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text text-info">5-Cheese Chicken Enchiladas</p>
    <h6 class="card-text text-secondary">450 calories</h6>
  </div>
</div>
</a>
<a href="/11">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/tart3.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Raspberry Vanilla Cream Tarts</p>
        <h6 class="card-text text-secondary">160 calories</h6>
    </div>
</div>
</a>
<a href="/4">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/egg4.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Egg Drop Soup</p>
        <h6 class="card-text text-secondary">150 calories</h6>
    </div>
</div>
</a>
<a href="/12">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/taco.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Slow-Cooker Pork Tacos</p>
        <h6 class="card-text text-secondary">190 calories</h6>
    </div>
</div>
</a>
<a href="/13">
<div class="card" style="width: 17.1rem;">
    <img class="card-img-top" src="img/prima.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-info">Pasta Primavera with Kale</p>
        <h6 class="card-text text-secondary">320 calories</h6>
    </div>
</div>
</a>

